.mainCharacters {
    max-width: 1040px;
    margin: 0 auto;
}

.mainCharacters__inner {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.mainCharacters__header {
    text-align: center;
    margin-top: 0;
}

